
.readings {
  font-size: 0; 
  background-color: #DDD;
}

.reading {
  font-size: 48px;
  font-weight: bold;
  display: inline-block;
  width: 25%;
  text-align: center;
}

.reading p {
  text-align: center;
}

.reading img {
  margin: 30px;
}

.states {
  text-align: center;
}

.states input {
  margin: 30px;
}

h1 {
  text-align: center;
}